<h1>Pets#show</h1>
<p>Find me in app/views/pets/show.html.erb</p>

<ul>
  <li><%= @pet.name %></li>
  <li><%= @pet.species %></li>
  <li><%= @pet.price %></li>
  <li><%= @pet.location %></li>
  <li><%= @pet.availability ? "Available" : "Not Available" %></li>
</ul>
