<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo1.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", pets_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Reservations", reservations_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
              <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <% if user_signed_in? && current_user.avatar.attached? %>
  <%= image_tag current_user.avatar, class: "avatar", alt: "User avatar" %>
<% else %>
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar rounded-circle", alt: "dropdown menu" %>
<% end %>
      </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <%# button click me for the video %>
      <div class="position-absolute start-50 translate-middle-x">
        <button
            data-controller="video-popup"
            data-video-popup-video-value="<%= asset_path('myvideo.mp4') %>"
            data-action="click->video-popup#play"
            class="btn btn-success"
            style="background-color: #AEC8A4; color: #3B3B1A; border-radius: 10px; border: 1px solid #E7EFC7;"
          >
          <i class="fa fa-dog"></i> Click Me
          </button>
      </div>
    </div>

  </div>
</div>
