<div class="container my-4 ">
  <h1>My Reservations</h1>

    <% @reservations.each do |reservation| %>
      <div class="card mb-3">
        <%= link_to pet_reservation_path(reservation.pet, reservation), class: "text-decoration-none" do %>
        <div class="card-body">
          <h5 class="card-title">
            Pet: <%= reservation.pet.name %>
          </h5>
          <p class="card-text">
            <strong>From:</strong> <%= reservation.start_date.strftime("%-d. %B %Y") %><br>
            <strong>To:</strong> <%= reservation.end_date.strftime("%-d. %B %Y") %><br>
            <strong>Price:</strong> $<%= reservation.pet.price %><br>
            <strong>Status:</strong> <%= reservation.pet.availability ? "Available" : "Not Available" %>
          </p>
        </div>
        <% end %>
      </div>
    <% end %>

  <%= link_to "Back to all pets", pets_path, class: "btn btn-secondary mt-3" %>
</div>
