<div class="container my-4 ">
  <h1>My Reservations</h1>
  <div class="row g-6">
    <% @reservations.each do |reservation| %>
      <div class="col-md-3">
        <%= link_to pet_reservation_path(reservation.pet, reservation), class: "text-decoration-none" do %>
        <div class="card text-black shadow m-2 p-3 rounded-3" style="background-color: #E7EFC7; color: #3B3B1A;">
          <h5 class="card-title" style="color: #3B3B1A; font-weight: bold">
            <%= reservation.pet.name %>
          </h5>
          <p class="card-text">
            <strong>Price:</strong> $<%= reservation.pet.price %><br>
            <strong>From:</strong> <%= reservation.start_date.strftime("%-d. %B %Y") %><br>
            <strong>Until:</strong> <%= reservation.end_date.strftime("%-d. %B %Y") %><br>
          </p>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= link_to "Back to all pets", pets_path, class: "button mt-3" %>
</div>
